<nz-row>
  <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="管理配置"></nz-page-header>
</nz-row>

<nz-row>
  <nz-col nzSpan="22" nzOffset="1">
    <nz-table #basicTable [nzData]="dataSet">
      <thead>
      <tr>
        <th>名称</th>
        <th>操作</th>
        <th>创建时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>

        </td>
        <td>{{ data.address }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-col>
</nz-row>
