<h3>参数</h3>
<div class="location">
  @for (refine of refines(); track $index) {
    <nz-row>
      <nz-col nzSpan="6">
        <nz-select class="select" [(ngModel)]="refine.flag">
          <nz-option nzLabel="文件名" nzValue="filename"></nz-option>
        </nz-select>
      </nz-col>
      <nz-col nzSpan="5">
        <nz-select class="select" [(ngModel)]="refine.type">
          <nz-option nzLabel="是" nzValue="is"></nz-option>
          <nz-option nzLabel="不是" nzValue="not"></nz-option>
          <nz-option nzLabel="包含" nzValue="contains"></nz-option>
          <nz-option nzLabel="开头" nzValue="begin"></nz-option>
          <nz-option nzLabel="结尾" nzValue="end"></nz-option>
        </nz-select>
      </nz-col>
      <nz-col nzSpan="9">
        <input type="text" nz-input [ngModel]="refine.input" (ngModelChange)="changeInput('refines',$index,$event)">
      </nz-col>
      <nz-col nzSpan="2" class="icon" [ngClass]="{'disabled':refines().length===1}" (click)="delete('refines',$index)">
        <nz-icon nzType="minus-circle" nzTheme="outline"/>
      </nz-col>
      <nz-col nzSpan="2" class="icon">
        <nz-icon nzType="plus-circle" nzTheme="outline"/>
      </nz-col>
    </nz-row>
  }
</div>
<nz-divider></nz-divider>
<h3>位置</h3>
<div class="location">
  @for (include of includes(); track $index) {
    <nz-row>
      <div nz-col nzSpan="20">
        @if (include.flag === 'input') {
          <input type="text" nz-input [ngModel]="include.input"
                 (ngModelChange)="changeInput('includes',$index,$event)">
        } @else {
          <nz-select class="select" [ngModel]="include.input" (ngModelChange)="change('includes',$index,$event)">
            @for (option of includesOptions(); track $index) {
              <nz-option [nzValue]="option.input" [nzLabel]="option.label"></nz-option>
            }
            <nz-option nzValue="~" nzLabel="用户HOME目录" [nzDisabled]="hasHomeInclude"></nz-option>
            <nz-option nzValue="" nzLabel="输入路径"></nz-option>
            <nz-option nzValue="$CUSTOM$" nzLabel="手动选择路径"></nz-option>
          </nz-select>
        }
      </div>
      <div nz-col nzSpan="2" class="icon" [ngClass]="{'disabled':includes().length===1}"
           (click)="delete('includes',$index)">
        <nz-icon nzType="minus-circle" nzTheme="outline"/>
      </div>
      <div nz-col nzSpan="2" class="icon"
           nz-dropdown nzTrigger="click" [nzDropdownMenu]="addIncludeMenu">
        <nz-icon nzType="plus-circle" nzTheme="outline"/>
      </div>
    </nz-row>
  }

  @for (exclude of excludes(); track $index) {
    <nz-row>
      <nz-col nzSpan="3" class="exclude-span">
        <span>排除:</span>
      </nz-col>
      <div nz-col nzSpan="17">
        @if (exclude.flag === 'input') {
          <input type="text" nz-input [ngModel]="exclude.input"
                 (ngModelChange)="changeInput('excludes',$index,$event)">
        } @else {
          <nz-select class="select" [ngModel]="exclude.input" (ngModelChange)="change('excludes',$index,$event)">
            @for (option of excludesOptions(); track $index) {
              <nz-option [nzValue]="option.input" [nzLabel]="option.label"></nz-option>
            }
            <nz-option nzValue="" nzLabel="输入路径"></nz-option>
            <nz-option nzValue="$CUSTOM$" nzLabel="手动选择路径"></nz-option>
          </nz-select>
        }
      </div>
      <div nz-col nzSpan="2" class="icon" (click)="delete('excludes',$index)">
        <nz-icon nzType="minus-circle" nzTheme="outline"/>
      </div>
      <div nz-col nzSpan="2" class="icon" nz-dropdown nzTrigger="click" [nzDropdownMenu]="addExcludeMenu">
        <nz-icon nzType="plus-circle" nzTheme="outline"/>
      </div>
    </nz-row>
  }

  @if (excludes().length === 0) {
    <nz-row>
      <nz-col nzOffset="4">
        <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="addExcludeMenu">
          <nz-icon nzType="plus"/>
          排除路径
        </button>
      </nz-col>
    </nz-row>
  }
</div>

<nz-dropdown-menu #addIncludeMenu="nzDropdownMenu">
  <ul nz-menu>
    @for (option of includesOptions(); track $index) {
      <li nz-menu-item (click)="add('includes',option.input)">{{ option.input }}</li>
    }
    @if (!hasHomeInclude) {
      <li nz-menu-item (click)="add('includes','~')">用户HOME目录</li>
    }
    <li nz-menu-item (click)="add('includes','')">输入路径</li>
    <li nz-menu-item (click)="add('includes','$CUSTOM$')">手动选择路径</li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #addExcludeMenu="nzDropdownMenu">
  <ul nz-menu>
    @for (option of excludesOptions(); track $index) {
      <li nz-menu-item (click)="add('excludes',option.input)">{{ option.input }}</li>
    }
    <li nz-menu-item (click)="add('excludes','')">输入路径</li>
    <li nz-menu-item (click)="add('excludes','$CUSTOM$')">手动选择路径</li>
  </ul>
</nz-dropdown-menu>

@if (isDevMode) {
  <nz-divider></nz-divider>
  <button (click)="test()">test</button>
}
