<wang-option-refines></wang-option-refines>
<nz-divider></nz-divider>
<wang-option-locations></wang-option-locations>
<nz-divider></nz-divider>
<nz-row>
  <nz-col nzOffset="1" nzSpan="8">
    <button type="button" nz-button routerLink="/config">
      <nz-icon nzType="setting"/>
      {{ 'option.manage'|translate }}
    </button>
  </nz-col>
  <nz-col nzOffset="1" nzSpan="13">
    <nz-select class="select" [ngModel]="current()?.id||''"
               (ngModelChange)="changeCurrent($event)">
      <nz-option nzValue="" nzLabel="{{'option.none'|translate}}"></nz-option>
      @for (config of configs(); track $index) {
        @if (config.name) {
          <nz-option [nzValue]="config.id" [nzLabel]="config.name"></nz-option>
        } @else {
          <nz-option [nzValue]="config.id" [nzLabel]="config.id"></nz-option>
        }
      }
    </nz-select>
  </nz-col>
</nz-row>
<nz-divider></nz-divider>
<nz-row>
  <nz-col nzOffset="1" nzSpan="8">
    <button type="button" nz-button>
      Language
    </button>
  </nz-col>
  <nz-col nzOffset="1" nzSpan="13">
    <nz-select class="select" [ngModel]="language()" (ngModelChange)="changeLanguage($event)">
      <nz-option nzValue="en-US" nzLabel="English-US"></nz-option>
      <nz-option nzValue="zh-CN" nzLabel="简体中文"></nz-option>
    </nz-select>
  </nz-col>
</nz-row>
@if (isDevMode) {
  <nz-divider></nz-divider>
  <button (click)="test()">test</button>
}
