<form [formGroup]="searchTextForm" ngxsForm="system.searchTextForm">
  <div class="search-input">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input formControlName="text"
             (keyup.enter)="search()" #searchInputRef/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      @if (searchIsStop()) {
        <button nz-button nzType="primary" type="button" nzSearch (click)="search()">
          <nz-icon nzType="search"/>
        </button>
      } @else {
        <button nz-button nzType="primary" type="button" nzSearch (click)="stopSearch()" nzDanger>
          <nz-icon nzType="border"/>
        </button>
      }
    </ng-template>
  </div>
</form>
