<nz-row>
  <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="{{ 'config.title'|translate }}"></nz-page-header>
</nz-row>

<nz-row>
  <nz-col nzOffset="1">
    <button type="button" nz-button nzType="primary"
            nz-popconfirm
            nzPopconfirmTitle="{{ 'config.saveCurrentBtnConfirm'|translate }}"
            (nzOnConfirm)="saveCurrentConfig()">
      {{ 'config.saveCurrentBtn'|translate }}
    </button>
  </nz-col>

  <nz-divider nzType="vertical"></nz-divider>

  <nz-col>
    <button type="button" nz-button nzType="primary" (click)="openConfigFolder()">
      {{ 'config.openConfigFolderBtn'|translate }}
    </button>
  </nz-col>

  <nz-divider nzType="vertical"></nz-divider>

  <nz-col>
    <button type="button" nz-button nzType="primary" (click)="importFromClipboard()">
      {{ 'config.importFromClipboardBtn'|translate }}
    </button>
  </nz-col>

  @if (isDevMode) {
    <nz-divider nzType="vertical"></nz-divider>
    <nz-col>
      <button type="button" nz-button nzType="primary" (click)="test()">test</button>
    </nz-col>
  }

</nz-row>

<nz-divider></nz-divider>

<nz-row>
  <nz-col nzSpan="22" nzOffset="1">
    <nz-table #basicTable [nzData]="configs()">
      <thead>
      <tr>
        <th nzWidth="150px">{{ 'config.id'|translate }}</th>
        <th>{{ 'config.name'|translate }}</th>
        <th nzWidth="370px">{{ 'config.operation'|translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        @if (data.edit) {
          <td>{{ data.id }}</td>
          <td>
            <input type="text" nz-input [ngModel]="data.name"
                   (ngModelChange)="changeConfigValue('name',$event)">
          </td>
          <td>
            <button type="button" nz-button nzType="primary" nzSize="small" (click)="cancel(data)">
              {{ 'config.cancel'|translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="primary" nzSize="small" (click)="save()">
              {{ 'config.save'|translate }}
            </button>
          </td>
        } @else {
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>
            <button type="button" nz-button nzType="primary" nzSize="small" (click)="edit(data)">
              {{ 'config.edit'|translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="primary" nzSize="small" (click)="useConfig(data)">
              {{ 'config.use'|translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="primary" nzSize="small" (click)="copyConfig(data)">
              {{ 'config.copy'|translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="primary" nzSize="small"
                    nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'config.overrideConfirm'|translate }}"
                    (nzOnConfirm)="overrideConfig(data)">
              {{ 'config.override'|translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="primary" nzSize="small"
                    nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'config.deleteConfirm'|translate }}"
                    (nzOnConfirm)="deleteConfig(data)">
              {{ 'config.delete'|translate }}
            </button>
          </td>
        }
      </tr>
      </tbody>
    </nz-table>
  </nz-col>
</nz-row>
